root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

ij_visual_guides = 80,120
ij_wrap_on_typing = true

ij_any_align_consecutive_assignments = true

[*.java]
indent_size = 2
indent_style = tab

[*.kt]
indent_size = 4
indent_style = tab
